:root {
    --deep-green: #07312d;
    --gold: #b7944c;
    --parchment: #fcf5e5;
}

// base colors
$white: #fcfcfc;
$black: #3c3c3c;

// accent colors
$yellow: #ffb703;
$orange: #fb8500;

// light mode colors
$dark-blue: #023047;
$light-blue: #219ebc;

// dark mode colors
$dm-black: #07080a;
$dm-off-black: #0a0b0d;
$dm-dark-gray: #16181a;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: var(--parchment);
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 75px;
    width: 100vw;
    padding: 0 24px;
    background-color: var(--deep-green);
    color: #fefefe;

    // keeps the menu items evenly split
    >* {
        width: 33.3vw;
    }

    .header-logo {
        text-align: center;
        color: var(--gold);
        text-decoration: none;
        color: var(--gold);
        font-family: 'Beau Rivage', cursive;
        font-size: clamp(1.5rem, 5vw, 3rem);
    }
}

nav {
    position: relative;

    // aligning the menu button with the hidden checkbox
    input[name="toggle-nav"],
    label[for="toggle-nav"] {
        position: absolute;
        top: -20px;
        width: 35px;
        height: 35px;
    }

    input[name="toggle-nav"] {
        display: block;
        cursor: pointer;
        opacity: 0;
        z-index: 1091;

        &:hover:checked+label[for="toggle-nav"],
        &:active:checked+label[for="toggle-nav"],
        &:focus:checked+label[for="toggle-nav"] {

            .menu-icon::before,
            .menu-icon::after {
                background-color: var(--gold);
            }
        }
    }

    label[for="toggle-nav"] {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 1090;

        // creating the menu button
        .menu-icon {
            display: block;
            width: 100%;
            height: 3px;
            border-radius: 10px;
            background-color: var(--gold);
            transition: all .5s ease;

            &::before,
            &::after {
                position: absolute;
                @extend .menu-icon;
                content: '';
            }

            &::before {
                top: 7px;
            }

            &::after {
                bottom: 7px;
            }
        }
    }

    input[name="toggle-nav"]:checked {
        &~.side-nav-panel {
            left: 0;
        }

        &+label[for="toggle-nav"] {
            .menu-icon {
                // makes the middle bar disappear to help create the X
                background-color: transparent;

                &::before,
                &::after {
                    background-color: var(--gold);
                }

                // rotates and positions the top and bottom bar to create the X
                &::before {
                    top: 16px;
                    transform: rotate(45deg);
                }

                &::after {
                    bottom: 16px;
                    transform: rotate(-45deg);
                }
            }
        }
    }

    .side-nav-panel {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 0;
        left: -100vw;
        width: 90vw;
        max-width: 380px;
        height: 100vh;
        padding-top: 85px;
        color: var(--gold);
        background-color: var(--deep-green);
        box-shadow: 1px 0 5px rgba($dm-dark-gray, .5),
            1px 0 3px rgba($dm-black, .7);
        transition: 0.5s left;
    }

    .top-nav {
        max-height: 50vh;
        overflow-y: auto;

        @media (max-height: 540px) {
            max-height: 30vh;
        }

        // link styling for entire nav menu
        a:link,
        a:visited {
            color: var(--gold);
            text-decoration: none;
        }

        // invert colors when menu is open
        .active a:link,
        .active a:visited {
            color: $black;
        }

        a:hover,
        a:active,
        a:focus {
            text-decoration: underline;
        }

        >li {
            min-height: 50px;
            max-height: 100vh;
            width: 95%;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            letter-spacing: 1px;
            cursor: pointer;

            // keep the background white on hover or when a submenu is open
            &:hover,
            &:active,
            &:focus,
            &.active {
                background-color: var(--parchment);

                a:link,
                a:visited {
                    color: $black;
                }
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
                padding-left: 2em;
            }

            >a {
                padding-top: 15px;
            }
        }
    }

    .parent-item {
        position: relative;

        >a::after {
            content: '^';
            display: inline-block;
            position: relative;
            top: 2px;
            left: 4px;
            font-size: 1em;
            transform: rotate(90deg);
            transition: all .3s;
        }

        &.active {
            background-color: var(--parchment);
        }

        // rotates the icon to show submenu being open
        &.active>a::after {
            top: -2px;
            transform: rotate(180deg);
        }
    }

    .submenu {
        background-color: var(--parchment);
        position: relative;
        top: 12px;
        left: 0;
        max-height: 0;
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        // lets the submenu fill in nicely with the parent element
        border-bottom-right-radius: 10px;
        // using max-height allows for better transitioning over just height
        transition: opacity .3s ease-in-out,
            visibility .3s ease-in-out,
            max-height .2s ease-in-out,
            margin-bottom .3s ease-in-out;

        &.active {
            opacity: 1;
            visibility: visible;
            max-height: 100vh;
            margin-bottom: 8px;
            transition: max-height 1s;
        }

        li {
            position: relative;
            padding-left: 1em;
            background-color: var(--parchment);

            // add icon before all submenu items for better clarity
            &::before {
                content: '▸';
                display: block;
                position: absolute;
                top: 10px;
                left: 32px;
                color: #000;
            }

            a {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }

    //     NAV PROFILE CSS

    .nav-profile {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        width: 80%;
        margin: 0 auto 2em;

        img {
            width: 100px;
            height: 100px;
            border-radius: 10%;
            object-fit: fill;
            margin-right: 12px;
        }

        .profile-info {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            height: 100%;
            max-height: 100px;
            width: 200px;

            p {
                margin-top: 4px;
            }
        }
    }
}

main {
    padding-top: calc(3rem + 75px);
    padding-bottom: 5rem;
    border-bottom: 35px solid var(--deep-green);
    article {
        width: 95%;
        max-width: 960px;
        margin: 0 auto;
        padding: 1rem;
    }

    h2 {
        margin-bottom: .5rem;
        color: var(--gold);
        font-family: 'Beau Rivage', cursive;
        font-size: clamp(1.5rem, 3vw, 2.375rem);
        text-align: center;
    }

    .obj-text {
        margin-bottom: 2rem;
        color: var(--gold);
        font-size: clamp(1.2rem, 2vw, 1.5rem);
        font-style: italic;
        text-indent: 0;
        text-align: center;
    }

    h3 {
        margin-bottom: 1rem;
        color: var(--gold);
    }

    p {
        text-indent: 2rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }

    section {
        margin-bottom: 2rem;
        padding: 1rem .75rem;
        border-bottom: 2px solid var(--gold);
        box-shadow: 1px 2px 2px rgba(0,0,0,.3);

        a {
            color: inherit;
            font-size: 80%;
        }
    }

    section p {
        text-indent: 0px;
    }
}

// social nav
.social-nav {
    &__header {
        display: flex;
        justify-content: flex-end;
        flex-wrap: wrap;
    }

    &__aside {
        width: 80%;
        text-align: center;
        position: absolute;
        bottom: 2em;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding-top: 2em;
        border-top: 2px solid var(--gold);
    }

    .fab,
    .far {
        font-size: 1.375em;
        color: $white;
        margin: 0 6px;
    }
}

.soc-btn {
    display: inline-block;
    color: var(--gold);
    border: 2px solid var(--gold);
    border-radius: 4px;
    padding: .35rem .5rem;
    text-align: center;
    text-decoration: none;
}


// Dark Mode toggle btn styles
.dark-mode-button {
    display: block;
    position: absolute;
    top: 20px;
    right: 36px;
    background: transparent;
    border: none;
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .3s ease-in;
    letter-spacing: 1px;
}

.dark-mode-button:before {
    content: 'THEME';
    position: relative;
    color: var(--gold);
    left: 2px;
    bottom: 8px;
    transition: .1s ease-in;
}

.dark-toggle {
    margin: 0;
    width: 30px;
    height: 16px;
    z-index: 20;
    border-radius: 10px;
    background: transparent;
    display: flex;
    align-items: center;
    transition: .3s ease;
    display: flex;
    justify-content: center;
    z-index: 1000;
    display: flex;
    flex-direction: row;
    align-items: center;
}

body.dark-mode .dark-toggle {
    background: var(--deep-green);
    border: none;
}

.dark-toggle span {
    height: 20px;
    width: 20px;
    left: -18px;
    border-radius: 50%;
    background: rgb(183,148,76);
    background: radial-gradient(circle, rgba(183,148,76,1) 45%, rgba(221,184,110,1) 75%, rgba(183,148,76,1) 100%); 
    position: relative;
    transition: .3s ease;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}

body.dark-mode .dark-toggle span {
    left: 20px;
    transition: .3s ease;
}

.dark-mode-button .dark-toggle {
    background: $yellow;
    width: 40px;
}


// Dark Mode Styles

body.dark-mode {
    background-color: $dm-off-black;
    color: $white;

    header {
        background-color: $dm-dark-gray;

        a {
            color: var(--gold);
        }
    }

    nav .side-nav-panel {
        background-color: $dm-black;
        box-shadow: 1px 0 5px rgba($white, .1),
            1px 0 3px rgba($white, .2);
    }

    input[name="toggle-nav"]:hover:checked+label[for="toggle-nav"],
    input[name="toggle-nav"]:active:checked+label[for="toggle-nav"],
    input[name="toggle-nav"]:focus:checked+label[for="toggle-nav"] {

        .menu-icon::before,
        .menu-icon::after {
            background-color: var(--deep-green);
        }
    }

    .top-nav {

        .active a:link,
        .active a:visited {
            color: $white;
        }

        &>li:hover,
        &>li:active,
        &>li:focus,
        &>li.active {
            color: $white;
            background-color: var(--deep-green);

            a:link,
            a:visited {
                color: $white;
            }
        }
    }

    .submenu {
        background-color: var(--deep-green);

        li {
            background-color: var(--deep-green);
        }

        li::before {
            color: var(--gold);
        }
    }
}